/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
    $button-text-transform: none,
    $list-item-icon-margin-end: 15px,
    $tooltip-background-color: rgba(var(--v-theme-surface-variant), .9),
);
.v-theme--light {
    --v-medium-emphasis-opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.router-link-btn {
    color: currentcolor;
    text-decoration: none;
}

